body {
  margin: 0;
  background: black;
}

.screen {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.screen.active {
  display: block;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gameCanvas {
  position: absolute;
  width: 70%;
  height: 60%;
  left: 15%;
  top: 20%;
}
